body{
    background-color: #D6CFCB;
    font-family: 'Inter', sans-serif;
    display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.banner {
  width: 100%;
  background-color: #A6808C;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login-form {
  background: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
  
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: left;
  
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;

}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  background-color: #706677;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  
  
}

.login-form button:hover {
  background-color: #CCB7AE;
}

.login-banner {
  background-color: #706677;  
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  
  margin: -30px 0px 20px 0px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.signup-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signup-form {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.signup-form label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.signup-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;  
  transition: border-color 0.3s;
}

.signup-form input:focus {
  border-color: #A6808C;
  outline: none;
}

.signup-form button {
  width: 100%;
  background-color: #706677;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.signup-form button:hover {
  background-color: #CCB7AE;
}

.error {
  color: #b30000;
  font-size: 0.9rem;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.signup-form input:invalid {
  border-color: #e57373;
}

.signup-form input:valid {
  border-color: #81c784;
}