
body {
  font-family: 'Inter', sans-serif;
  background-color: #D6CFCB;
  color: #565264;
  padding: 0;
  margin: 0;
}


.navbar {
  background-color: #706677;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-left h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.5px;
}

.nav-left nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-left nav a:hover,
.nav-left nav a.active {
  color: #CCB7AE;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

.logout-btn {
  background-color: #A6808C;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.logout-btn:hover {
  background-color: #CCB7AE;
  color: #565264;
}


h2.page-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  color: #565264;
}


.table {
  background-color: white;
  border: 1px solid #CCB7AE;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.table thead th {
  background-color: #706677;
  color: #D6CFCB;
  font-weight: 600;
  border-bottom: 2px solid #A6808C;
  text-align: center;
}

.table tbody tr td {
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  background-color: white !important;
  color: #565264;
  font-weight: 400;
}

.table tbody tr:hover {
  background-color: #F5F0EE !important;
}


.btn-info {
  background-color: #A6808C;
  border: none;
  color: white;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.btn-info:hover {
  background-color: #926f7a;
}

.btn-secondary {
  background-color: #706677;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.btn-secondary:hover {
  background-color: #A6808C;
}

.modal-content {
  background-color: #CCB7AE;
  border-radius: 10px;
  color: #565264;
  font-family: 'Inter', sans-serif;
}

.modal-header {
  border-bottom: 1px solid #A6808C;
}

.modal-title {
  font-weight: 600;
  color: #565264;
}

.list-group-item {
  background-color: #CCB7AE;
  color: #565264;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 400;
}

.badge.bg-success {
  background-color: #198754 !important;
  font-weight: 500
}
